body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

li {
    list-style-type: none;
}

.city-input {
    border-color: goldenrod;
    border-width: 2px;
}

#search-button {
    background-color: peru;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

#history-button {
    flex-direction: row;
    background-color: peru;
    border: none;
    padding: 7px;
    margin: 3px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
}

.current-weather {
    background-color: rosybrown;
    border: goldenrod;
    margin: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.forecast {
    background-color: goldenrod;
    padding: 10px;
    margin: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#city-name {
    background-color: rosybrown;
    padding: 10px;
    margin: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.day {
    background-color: teal;
    justify-content: space-evenly;
    padding: 25px;
    margin: 10px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}